<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>inputCALCULATOR</title>
</head>
<body>
<h1>input num1, num2</h1>
<form action = "/calculator">
    <input type="text" name="num1" placeholder="input num1">

    <select name="calcu">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>

    <input type="text" name="num2" placeholder="input num2">
    <input type="submit">

</form>
</body>
</html>